 /*
    Created on : Nov 7, 2016.
    Author     : S M SHAKHAWAT HOSSAIN
    Email      : shakhawat.tex@gmail.com
*/

/* Base CSS  Start*/
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
p{
    color: #fff;
}
h1 {
    color: #fff;
    letter-spacing: 4px;
}
h2
h3
h4
h5
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/*Base CSS End*/

/*header section start*/
.header {
    background-color: #87509C;
    padding-top: 30px;
    padding-bottom: 140px;
}
.header h3 {
    padding-top: 6px;
}
.header ul {
    margin-top: 30px;
}
.header ul li {
    padding-left: 8px ;
}

.header ul li a {
    color: #FFFFFF;
    padding: 7px 0px;
    margin-left: ;
    font-size: ;
    font-weight: Bold;

}
.nav-pills > li.active > a:hover, .nav-pills > li.active a{
background-color: #643A79;
}

.header ul li a:hover {
    color: #fff;
    background: #643A79;
}
.website-text h2{
    margin-top: 110px;
}
.btn {
    padding:30px 100px;
    border: ;
    font-weight: ;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 35px;
}

.btn.btn-primary,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: #EB7D4B;
  border-color: #EB7D4B;
  outline: none;
  box-shadow: 0px 6px 0px 0px #C86A40;
  
}
/*header section end*/

/*service section start*/
.service {
    background-color: #17C2A4;
    padding-top: 120px;
    padding-bottom: 130px;
}
.service-border {
    border-bottom: 5px solid #14A58C;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.service p {
    margin-top: 25px;
}
/*service section end*/



@media screen and (max-width: 480px){
    

}


@media (min-width: 480px) and (max-width: 768px){
    

}



/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
