 /*
    Created on : Nov 7, 2016.
    Author     : S M SHAKHAWAT HOSSAIN
    Email      : shakhawat.tex@gmail.com
*/

/* Base CSS  Start*/
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
p{
    color: #fff;
    font-size:18px ;
    line-height: ;
}
h1 {
    color: #fff;
    letter-spacing: 4px;
}
h2 {
    
}
h3 {
    color: #fff;
    font-weight: bold;
}
h4
h5
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/*Base CSS End*/

/*header section start*/
.header {
    background-color: #87509C;
    padding-top: 30px;
    padding-bottom: 140px;
}
.header h3 {
    padding-top: 6px;
}
.header ul {
    margin-top: 30px;
}
.header ul li {
    padding-left: 8px ;
}

.header ul li a {
    color: #FFFFFF;
    padding: 7px 0px;
    margin-left: ;
    font-size: ;
    font-weight: Bold;

}
.nav-pills > li.active > a:hover, 
.nav-pills > li.active a{
background-color: #643A79;
}

.header ul li a:hover {
    color: #fff;
    background: #643A79;
}
.website-text h2{
    margin-top: 110px;
}
.btn {
    padding:30px 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 35px;
}

.btn.btn-primary,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: #EB7D4B;
  border-color: #EB7D4B;
  outline: none;
  box-shadow: 0px 6px 0px 0px #C86A40;
  
}
/*header section end*/

/*service section start*/
.service {
    background-color: #17C2A4;
    padding-top: 120px;
    padding-bottom: 130px;
}
.service-border {
    border-bottom: 5px solid #14A58C;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.service p {
    margin-top: 25px;
}
.first-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}
.second-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}
.third-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 67px;
}
.last-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
/*service section end*/

/*team section start*/
.team {
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #E7F1F8;
}
.team h1 {
    color: #3C4761;
}
.team p {
    color: #24395A;
    margin-top: 25px;
}
.team-border {
    border-bottom: 5px solid #C8D9E5;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.team h3 {
    color: #3C4761;
}
.team h5{
    color: #30BAE7;
}
.team-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.team ul {
    margin-top: -45px;
}
.team ul li{
    margin-left: -10px;
}
/*team section end*/

/*skill section start*/
.skill {
    padding-top: 120px;
    padding-bottom: 130px;
}
.skill h1 {
    color: #3C4761;
}
.skill p {
    color: #24395A;
    margin-top: 25px;
}
.skill h3 {
    color: #3C4761;
}
/*skill section end*/

/*portfolio section start*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #FFDD99;
}
.portfolio h1 {
    color: #3C4761;
}
.portfolio p {
    color: #24395A;
    margin-top: 25px;
}
.portfolio-border {
    border-bottom: 5px solid #E5C37F;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.nav-portfolio {
    padding-left: 90px;
    padding-right: 90px;
}
.nav-portfolio > li {
    padding-left: 10px;
}
.nav-portfolio > li.active a,
.nav-portfolio > li a:hover {
    background-color: #FFFFFF;
    color: #3C4761;
}
.nav-portfolio > li.active > a:hover,
.nav-portfolio > li a {
    background-color: #E5C37F;
    color: #3C4761;
}
.laptop {
    margin-top: 40px;
}
.btn-portfolio {
    padding: 24px 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 80px;
    
}
.btn.btn-info,
.btn.btn-info.active.focus,
.btn.btn-info.active:focus,
.btn.btn-info.active:hover,
.btn.btn-info:active.focus,
.btn.btn-info:active:focus,
.btn.btn-info:active:hover {
  color: #fff;
  background-color: #17C2A4;
  border-color: #17C2A4;
  outline: none;
  box-shadow: 0px 6px 0px 0px #14A58C;
}
/*portfolio scetion end*/

/*about section start*/
.about {
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #D74680;
}
.avout h1 {
    color: #fff;
}
.about p {
    color: #fff;
    margin-top: 25px;
}
.about-border {
    border-bottom: 5px solid #B73C6D;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.desig-color {
    position: absolute;
    font-size: 15px;
    color: #FFDD99;
    margin-top: -22px;
}
.circle-top  {
    margin-top: 60px;
}
.circle-top h4 {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}
/*about scetion end*/

/*contact section start*/
.contact {
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #3C5499;
}
.contact-border {
    border-bottom: 5px solid #273A71;
    position: absolute; /* or fixed */
    left: 46%;
    width: 8%;
}
.contact p {
    margin-top: 25px;
}
.text-field-one
{
    background-color: #273A71;
    border: 1px solid #273A71;
    box-shadow: 1px 1px px 0px #273A71;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    height: 45px;
    margin-bottom: 0;
    padding-left: 35px;
    width:;
}
.message {
    margin-top: 30px;
    background-color: #273A71;
    border: 1px solid #273A71;
    box-shadow: 1px 1px 7px 0px #273A71;
    border-radius: 3px;
}
.btn-contact {
    padding: 24px 85px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 80px;
    
}
.btn.btn-danger,
.btn.btn-danger.active.focus,
.btn.btn-danger.active:focus,
.btn.btn-danger.active:hover,
.btn.btn-danger:active.focus,
.btn.btn-danger:active:focus,
.btn.btn-danger:active:hover {
  color: #fff;
  background-color: #30BAE7;
  border-color: #30BAE7;
  outline: none;
  box-shadow: 0px 6px 0px 0px #299EC5;
}
/*contact section end*/

/*footer-bottom section start*/
.footer-bottom {
    background-color: #344B8E;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-bottom ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-bottom ul li {
    padding-right: 10px;
}
.footer-bottom ul li a {
    color: #fff;
    font-size: 20px;
}
.footer-bottom ul li a:hover,
.footer-bottom ul li a:active {
    color: #30BAE7;
}

/*footer-bottom section end*/


@media screen and (max-width: 480px){
    
/*header section start*/
.btn {
    padding:10px 40px;
    border: ;
    font-weight: ;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 35px;
}
/*header section end*/

/*portfolio section start*/
.nav-portfolio {
    padding-left: 0px;
    padding-right: 0px;
}
/*portfolio section end*/
/*about section start*/
.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*about section end*/
/*contact section start*/
.text-field-one {
    margin-bottom: 15px;
}
/*contact section end*/
}
@media (min-width: 480px) and (max-width: 768px){

/*portfolio section start*/
.nav-portfolio {
    padding-left: 0px;
    padding-right: 0px;
}
/*portfolio section end*/

/*service section start*/
.first-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
}
.second-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
}
.last-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}
/*service section end*/
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
